.moviepage-body{  
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/456A711C19899C881600F6247705E5253EB18C2471D75E5281E1FF6ACB6D2FBA/scale?width=1440&aspectRatio=1.78&format=jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 900px;
  width: 100%;
position: relative;
}

.moviepage-content {
    margin-left: 1rem;
    margin-top: 35rem;
}

.movie-buttons{
    display: flex;
    align-items: center;
}

.button-play {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 10px;
    font-size: large;
    margin-right: 1.5rem;
}

.button-trailer {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background: transparent;
    border-radius: 10px;
    font-size: large;
    color: white;
    margin-right: 1.5rem;
}

.button-plus {
    width: 70px;
    height: 70px;
    padding: 0.5rem 0.3rem;
    background: transparent;
    border-radius: 50%;
    font-size: 3rem;
    color: white;
}

.image-play {
    margin-right: 10px;
}

.image-trailer {
    margin-right: 10px;
}

.movie-subtitle{
    font-size: small;
    margin-top: 1.5rem;
    color: white;
}

.movie-description {
    max-width: 1200px;
    margin-top: 2rem;
    color: white;
    font-size: 1rem;
}